<?xml version="1.0"?>
<config>
    <modules>
        <MWT_Homebanner>
            <version>0.1.5</version>
        </MWT_Homebanner>
    </modules>
    <frontend>
        <layout>
            <updates>
                <homebanner>
                    <file>homebanner.xml</file>
                </homebanner>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <homebanner>
                <class>MWT_Homebanner_Block</class>
            </homebanner>
            <data>
                <class>MWT_Homebanner_Block_Data</class>
            </data>
        </blocks>
        <helpers>
            <homebanner>
                <class>MWT_Homebanner_Helper</class>
            </homebanner>
        </helpers>
        <resources>
            <homebanner_setup>
                <setup>
                    <module>MWT_Homebanner</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </homebanner_setup>
            <homebanner_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </homebanner_write>
            <homebanner_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </homebanner_read>
        </resources>
    </global>
</config>